.sideNav{
    width: 10%;
    height: 15vh;
    background-color: rgb(29, 153, 29);
    color: black;
    cursor: pointer;
    border-radius: 5px;

    .services:hover{
        color: white;
    }
    .assignees:hover{
        color: white;
    }
    .shops:hover{
        color: white;
    }
    .history:hover{
        color: white;
    }
}

.arrow{
    height: 15vh;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.hidden{
    display: none;
}
